.max-w-xl.mx-auto.mt-6.bg-yellow-200.border-4.border-black.rounded-xl.p-4.flex.justify-center
  p.text-black.font-semibold.inline-flex.items-center
    = image_tag "person-digging.svg", class: "w-6 h-6 mr-4"
    | Still in heavy development. Not all features are available.
