---
title: Welcome to Middleman
---

= partial 'partials/header'
= partial 'partials/hero'
= partial 'partials/product_preview'
= partial 'partials/features'
= partial 'partials/setup'
= partial 'partials/footer'
